.field-of-cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, 210px);
  padding: 20px 0;
}


.preloader {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;

  p {
    display: flex;
    justify-content: center;
  }
}
