.card {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  color: var(--font_color_main);

  &_img {
    height: 210px;
  }

  &_title {
    padding: 5px;
  }

  &_dscr {
    padding: 0 5px;

    .card_rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card_rating div {
      display: flex;
      align-items: flex-end;
    }

    .card_price {
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
