@import './components/Card/Card';
@import './components/FieldOfCards/FieldOfCards';
@import './components/Header/Header';
@import './components/UI/HeaderButtom/HeaderButtom';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  --font_color_main: #222222;
}

main {
  padding: 20px;
}
